body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    position: absolute;
    background-color: #0000ffb8;
    text-align: center;
    width: 100%;
}

.title {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: #ffffff;
}

.subtitle {
    font-size: small;
    color: #000;
}

.card {
    background-color: #f5f5f5;
    margin: 0;
    padding: 10px;
}

.introduct {
    text-align: center;
    
}

.introduct button {
   background-color: #0000ffb8;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-left: 20px;
    padding: 5px 8px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

#luas {
    display: block;
}

#keliling {
    display: none;
}
.description {
    box-sizing: border-box;
    border: 1px solid blue;
    width: 300px;
    height: auto;
    padding-bottom: 10px;
}

.description img {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 50px;
}

.description h3 {
    width: 100%;
    height: 30px;
    border: 0;
    background-color: #0000ffb8;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

.description p {
    font-size: small;
    margin-left: 10px;
}

.description h4 {
    text-align: center;
    margin-top: 19px;
}

#sisi-luas {
    display: block;
    margin: auto;
    width: 90%;
}

#sisi-keliling {
    display: block;
    margin: auto;
    width: 90%;
}

.description button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-left: 60px;
    padding: 5px 8px;
}

.hitung {
    background-color: #008000;
    color: #ffffff;
}

.btnReset {
    background-color: #ff0000;
    color: #ffffff;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #0000ffb8;
    color: #ffffff;
    text-align: center;
}